<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title='Online Shop - registration')"></head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="title">Регистрация</div>
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form th:action="@{/registration}" method="post" th:object="${user}">
                        <div th:if="${param.success}" class="alert alert-info">You've successfully registered.</div>

                        <div class="form-group">
                            <input th:field="*{username}" name="username" type="text" id="username"
                                   placeholder="UserName"
                                   class="form-control input-lg" required/>
                        </div>
                        <div class="form-group">
                            <input th:field="*{password}" name="password" type="password" id="password"
                                   placeholder="Password"
                                   class="form-control input-lg" required/>
                        </div>
                        <div class="form-group">
                            <input th:field="*{confirmPassword}" type="password" class="form-control input-lg"
                                   id="confirmPassword"
                                   placeholder="Confirm Password" name="ConfirmPassword" data-fv-notempty="true"
                                   data-fv-notempty-message="Please confirm password"
                                   data-fv-identical="true"
                                   data-fv-identical-field="password"
                                   data-fv-identical-message="Both passwords must be identical"/>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="float: none; margin: 0 auto;">
                                <input type="submit" class="btn btn-primary btn-block" value="Confirm"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>